#logo {
    width: 50%;
    float: left;
}

#one{
    width: 20%;
}

#two{
    width:60%;
}

#three{
    width: 20%;
    float:right;
}

#three li {
    float: right;
}
.navbarlinks {
    font-family: 'Righteous', cursive;
}
body {
    padding-top: 80px;
    /*background-image: url(GeneralAssets/backgroundStatic.gif);*/
}
/* Loader code taken from w3schools*/
.loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #55eb34; /* green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
/* webkit addition for safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CSS specific for OfficersHtml.html */
.container{
    width: 100%;
}

.card {
    width: 80%;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    background-color: black;
    border: 4px inset silver;
    color: white;
}

.card img {
    width: 50%;
    height: 100%;
    float: left;
}
.text {
    width: 50%;
}
.PTitle {
    font-family: 'Righteous', cursive;
    margin: 20px;
    font-size: 30px;
    border-bottom: 4px solid silver;
    margin-left: auto;
    margin-right: auto;
}
.Description {
    font-family: sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* CSS for ContactHtml.html */
.title {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    margin: 10px;
}
#explainer {
    font-family: sans-serif;
    margin: 10px;
}
.form {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    background-color: black;
    border: 4px inset silver;
    color: white;
}

select, label, input, textarea, button {
    display: inline-block;
    width: 80%;
    margin: 10px;
    font-family: sans-serif
}

.form button, .form select, .form input {
    color: black;
}

/* CSS for index.html */
/* This CSS is for the photo viewer and is from w3schools*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: black;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

